<!DOCTYPE html>
<html><body bgcolor="#dddddd"> 
  <div id="container" style="font-size:20px;margin:200px;">
    <a href="/home/search"><button>Search</button></a><a href="/home/search"><button>Update</button></a><a href="/home" ><button>Home</button></a><br>
    <br>
    <br>
    <div id="data">
    Author : Anubhav Sharma <br>
    Email  : anubhav880602148@gmail.com <br>
    Contact: +91 7543028853 <br>
    </div>
  </div>
</body>
  <style>
    #data{
      color:#000;
      margin-bottom: 30px;
    }
    #container{
      background-color: blueviolet;
      margin:100px;
      padding: 100px;
    }
  </style>
  </html>